body{
    margin: 0%;
}
.navbar {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  
}

.navbar a {
  margin-left: 10px;
  float:left;
  display: block;
  color: #24a4ad;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.homeboi{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #24a4ad;
  padding: 120px;
}
.homeslika{
  margin: 90px 0px 0px 100px;
  border: 5px solid #24a4ad;
  border-radius: 10px;
}
.tabela{
  padding: 10px;
  margin-top: 50px;
}
body {
  background-image: url("sliki/dd.jpg");
  background-attachment: fixed;
  margin: 0%;
}
.survey2{
  text-align: center;
  color: #24a4ad;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.survey1{
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 70px;
  margin-left: 250px;
  margin-right: 250px;
}
input[type=submit] {
  width: 100%;
  background-color: #1daa4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
input[type=text], input[type=date],select , textarea[type=text]{
  color: #24a4ad;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #24a4ad;
  border-radius: 10px;
  box-sizing: border-box;
  background-color:rgb(27, 27, 27);
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
}
input[type=reset] {
  width: 100%;
  background-color: #c51a14;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.nodec{
  text-align: center;
  
  margin: 300px 350px 0px 350px;
  padding: 20px 0px 20px 0px;
}
.hh{
  margin: 0px 15px 0px 15px;
  
}
details > summary{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 50%;
  border-radius: 10px;
  padding: 10px;
  background-color:rgb(0, 0, 0);
  color: #24a4ad;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid #24a4ad;
}
details > p{
  margin-left: 70px;
}
.fav1{
  margin-top: 70px;
  margin-bottom: 50px;
}
figure{
  margin-left: 70px;
  display: inline-block;
}
figcaption{
  text-align: center;
}
.tekst{
  color: #24a4ad;
  font-size: 20px;
  text-decoration: none;
}
.hhh{
  display: inline-block;
  text-align: center;
}
.jj{
  text-align: center;
}

.j2{
  text-align: center;
  color: #24a4ad;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.blognas{
  text-align: center;
  color: #24a4ad;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
}
.blogtekst{
  margin: 0px 350px 0px 350px;
  color: #24a4ad;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.blogime{
  text-align: right;
  color: #24a4ad;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 350px;
}
.blog1{
  margin: 100px 350px 0px 350px;
}
.contact2{
  margin-top: 150px;
  text-align: center;
  color: #24a4ad;
}
::placeholder{
  color: #24a4ad;
}
.galery1{
  margin: 100px 250px 50px 250px;
}
.galery2{
  margin: 0px 130px 0 130px;
}
.galery3{
  border: 5px solid #24a4ad;
  border-radius: 10px;
}
button{
  border-radius: 10px;
  border: 3px solid #24a4ad;
}
.galery4{
  color: #24a4ad;
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(27, 27, 27);
  border-radius: 10px;
  border: 1px solid #24a4ad;
  padding: 2px 10px 2px 10px;
  margin: 0px 450px 10px 450px;
}
.galery5{
  text-align: right;
  font-size: 15px;
  margin: 0%;
}
.galery6{
  text-align: left;
  font-size: 28px;
  margin: 5px 10px 0px 10px;
}
.galery7{
  margin:0px 5px 0px 15px;
  color:#24a4ad;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #24a4ad;
}
.galery8{
  text-align: left;
  font-size: 20px;
  margin: 0%;
  padding-top: 5px;
}
.galery9{
  text-align: right;
  font-size: 13px;
  margin: 0%;
}
.galery10{
  margin: 10px 20px 0px 20px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #24a4ad;
  border-radius: 10px;
}
.galery11{
  width: 25px;
  height: 25px;
  text-align: right;
  color:white;
  border-radius: 10px;
  border: 1px solid #24a4ad;
}
.galery12{
  margin-left: 10px;
}
.galery13{
  text-align: center;
  font-size: large;
  color: black;
}